
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.logo {
    width: 50px; /* Adjust size when needed */
}

h1 {
    color: #333; /* Dark gray text for title */
    font-size: 2em;
}
