body {
    background-color: #f8efe2;
}

.logo-container {
    text-align: left;
    margin-bottom: 1rem;
}

.logo {
    width: 100px; /* Adjust as needed */
    margin-right: 15px;
    display: inline-block;
    vertical-align: top;
}

.upload-container {
    border: 2px dashed #ffc107;
    height: 250px;
    background-color: #fff3cd;
    color: #856404;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 1rem;
}

.upload-container:hover {
    background-color: #ffe69a;
}

.upload-instructions {
    pointer-events: none;
    text-align: center;
}

.upload-icon {
    font-size: 48px;
}

.file-label {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.file-input {
    width: 100%;
    height: 100%;
    opacity: 0;
}

/* Adjusting the upload area to be longer */
@media (min-width: 992px) { /* Adjusting for large devices */
    .upload-container {
        height: 250px; /* Fixed height */
        border-style: dashed;
    }
}

body {
    font-family: Arial, sans-serif;
}

.flashes {
    color: red;
}

/* Add a class for displaying the selected file details */
.file-details {
    margin-top: 1rem;
    color: #856404;
}
